@import "styles/variables";
@import  "styles/breakpoints";
@import "styles/mixins/visual";

.radio{
    &__blocks{
        display: flex;
        gap: 31px;
    } 

    &__block{
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        gap: 1px;
        line-height: 142%;
        color:$black;
        @include cursor;
    }

    &__input{
        height: 0;
        width: 0;
        opacity: 0;

        &:checked + .radio__span{
            &::after{
                opacity:1;
            }
        }
    }

    &__span{
        position: relative;
        @include flex-center;
        justify-content: center;
        height: 26px;
        width: 26px;
        border: 2px solid $color-base;
        border-radius: 50%;

        @include response('md'){
            max-width: 20px;
            max-height: 20px;
        }

        &:after{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 12px;
            background: $color-base;
            border-radius: 50%;
            opacity: 0; 

            @include response('md'){
                width: 10px;
                height: 9.5px;
            }

            @include response('sm'){
                height: 10px;
            }
        }
    }
} 