$color-base:#1B1F2B;
$white:#FFFFFF;
$black:#000000;

$orange-100:#F8E6BE;
$orange-200:#EFA501;

$grey-100:#F1F3F2;
$grey-200:#D9DFDB;
$grey-300:#A6A6A6;

$beige-100:#F9F7F4;
$beige-200:#F4F0E9;

$green-400:#286562;
$green-300:#3B7E7B;
$green-200:#627F7E;
$green-100:#E0F0E5;